@page
@model InstaNet.Web.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="column-container content-container" style="width: 100%; margin: auto; max-width: 350px">
    <form method="post">
        <h1 style="text-align: center; font-size: 25px; margin-bottom: 50px">InstaNet</h1>
        <div class="form-group">
            <label asp-for="LoginViewModel.Email"></label>
            <input asp-for="LoginViewModel.Email" placeholder="Email" />
        </div>

        <div class="form-group">
            <label asp-for="LoginViewModel.Password"></label>
            <input asp-for="LoginViewModel.Password" placeholder="Password" />
        </div>

        <input class="click-link" type="submit" value="Login" />

        <div class="errors" asp-validation-summary="All"></div>
    </form>

    <hr />

    <a  asp-page="/Account/Register" class="click-link" style="text-align: center; padding: 10px">No Account? Register...</a>
</div>

